.App{
  display: flex;
  font-family:  "Montserrat", sans-serif;
  font-weight: 400;
  
}

.body_container{
  flex: 1;
  background-color: rgb(88, 54, 54);

}
.sidebar_container{
  background-color: rgb(42, 110, 170);
  height: 100vh;
  position: sticky;
}
